body {
    font-family: 'Inter', sans-serif !important;
    overflow-x: hidden;
}

/* web screen custom css start */

.item-shadow {
    box-shadow: 0px 8px 16px #6926994D;
    border-radius: 8px;
}

.navbar {
    font-size: 18px;
    z-index: 9999;
}

.navbar li {
    letter-spacing: 0px;
    color: #111111 !important;
    opacity: 1;
    margin: .5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.mobile-nav-item-home {
    display: none;
}

#mobile-nav-login {
    display: none;
}

.homepage-nav-toggler {
    border: 0;
}

.bg-light {
    background-color: #ffffff00 !important;
}

.logo-mobile {
    display: none;
}

.logo-web {
    display: block;
    width: 6vw;
    height: auto;
}

.background-banner-image {
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    width: 30vw;
    opacity: 1;
}

.background-mobile-image {
    position: absolute;
    right: 14vw;
    top: 9vw;
    width: 28vw;

}

.banner-content {
    padding: 8.5vw 0 13vw 0;
}

.banner-line-vertical {
    height: 61.5vw;
    position: absolute;
    right: 30vw;
    top: 0;
    width: 3vw;
    display: block;
}

.banner-content p {
    font-size: 18px;
    font-weight: 500;
}

.banner-content h1 {
    font-size: 4.5vw;
    font-weight: 700;
    letter-spacing: -2.25px;
}

.banner-content span {
    font-size: 15px;
}

.banner-content button {
    background: #692699 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #6926994D;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    margin-top: 1.5rem;
    border: 0;
}

.banner-content button:hover {
    background: #111111 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 24px #69269933;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    margin-top: 1.5rem;
}

.album-cover {
    padding: 10vw 18vw 0 9vw;
    background: #E9E9E9 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 100%;
}

.album-cover p {
    text-align: left;
    letter-spacing: -0.68px;
    color: #111111;
    opacity: 1;
    font-weight: 500;
    font-size: 20px;
}

.album-cover h3 {
    font-weight: 700;
    letter-spacing: -1.5px;
    color: #111111;
    opacity: 1;
    font-size: 3vw;
}

.album-cover .bet-now {
    background: #692699 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #6926994D;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    border: 2px solid #692699;
    margin-top: 1.5rem;
}

.album-cover .bet-now:hover {
    background: #111111 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 24px #69269933;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
}

.about-cover .bet-button-group {
    display: block;
}

.login-banner-content {
    padding: 0.5vw 13vw 3vw 0 !important;
}

.login-banner-content p {
    font-size: 18px;
    font-weight: 500;
}

.login-banner-content h1 {
    font-size: 4.5vw;
    font-weight: 700;
    letter-spacing: -2.25px;
}

.login-banner-content span {
    font-size: 15px;
}

.login-background-banner-image {
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    width: 27.3vw;
    opacity: 1;
}

.login-banner-content input{
    color: #000;
    background: #E9E9E9;
}

.login-banner-content input:focus{
    color: #000 !important;
    background: #E9E9E9;
    opacity: .8;
}

.login-banner-content button {
    background: #692699 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #6926994D;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    margin-top: 1.5rem;
    border: 0;
}

.login-banner-content button:hover {
    background: #111111 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 24px #69269933;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    margin-top: 1.5rem;
}

.album-cover .all-bet {
    border: 2px solid #111111;
    border-radius: 4px;
    opacity: 1;
    color: #000000;
    margin-top: 1.5rem;
}

.album-cover .all-bet:hover {
    background: #111111 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 24px #69269933;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
}

.places-featured h5 {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #111111;
    opacity: 1;
}

.places-featured{
    padding: 4rem;
}

.places-featured-images {
    margin-top: 3rem;
}

.places-featured-images img{
    margin-right: 2rem;
    width: 180px;
}

.fav-artist-content {
    padding: 13rem 0 4rem 0;
}

.fav-artist-content .content-text {
    padding: 0 6.5rem;
}

.fav-artist-content p {
    font-size: 18px;
    font-weight: 500;
}

.fav-artist-content h1 {
    font-size: 4vw;
    font-weight: 700;
    letter-spacing: -2.25px;
}

.fav-artist-content span {
    font-size: 15px;
}

.fav-artist-content button {
    background: #692699 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #6926994D;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    margin-top: 1.5rem;
}

.fav-artist-content button:hover {
    background: #111111 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 24px #69269933;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    margin-top: 1.5rem;
}

.get-ready-started-content {
    padding: 4rem 0 2rem 0;
}

.get-ready-started-content p {
    font-size: 18px;
    font-weight: 500;
}

.get-ready-started-content h1 {
    font-size: 4vw;
    font-weight: 700;
    letter-spacing: -2.25px;
}

.get-ready-started-content span {
    font-size: 15px;
}

.get-ready-started-content button {
    background: #692699 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #6926994D;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    margin-top: 1.5rem;
}

.get-ready-started-content button:hover {
    background: #111111 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 24px #69269933;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    margin-top: 1.5rem;
}

.fav-artist {
    position: relative;
}

.fav-artist .web-image {
    position: absolute;
    right: 0;
    width: 39vw;
    height: 55vw;
    display: block;
}

.fav-artist .mobile-image {
    display: none;
}

.lh-copy a:hover {
    text-decoration: none;
    color: #111111;
}

.login-links a:hover {
    text-decoration: none;
    color: #111111;
}

/*home page services start */

.section-services {
    color: #fff;
}

.section-services .header-section .title {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.section-services .single-service {
    background: #EFE8F4;
    border-radius: 4px;
    opacity: 1;
    min-height: 100%;
    cursor: pointer;
}

.section-services .single-service:hover {
    box-shadow: 0px 24px 32px #69269933;
}

.section-services .single-service:hover .part-1 > a,
.section-services .single-service:hover .part-1 .title {
    color: #692699 !important;
}

.section-services .single-service .part-1 {
    padding: 1.5rem;
}

.section-services .single-service .part-1 img {
    margin-bottom: 20px;
    width: 50px !important;
}

.section-services .service-icon{
    font-size: 28px;
    margin-bottom: 1rem;
}

.section-services .single-service .part-1 .title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.68px;
    color: #111111;
    opacity: 1;
}

.section-services .single-service .part-2 {
    padding: 30px 40px 40px;
}

.section-services .single-service .part-1 .description {
    text-align: left;
    letter-spacing: 0px;
    color: #111111;
    opacity: 1;
    font-size: 15px;
}

.section-services .single-service .part-1 a {
    text-decoration: underline;
    letter-spacing: 0px;
    color: #111111;
    opacity: 1;
    font-size: 15px;
    font-weight: bold;
}

.section-services .col-md-4, .col-lg-3 {
    padding-right: 5px;
    padding-left: 5px;
}

/*home page services end */

/*Footer*/

/* Main Footer */
footer .main-footer{
    padding: 5rem 0 2rem 0;
    background: #E9E9E9;
}
footer .main-footer h5 {
    font-weight: 700;
    color: #692699
}

footer .main-footer p, .main-footer a {
    font-size: 14px;
}
/* Copy Right Footer */
.footer-copyright {	background: #ffffff;	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #969696;	margin: 2px 0 0; font-size: 14px}

/* Footer Top */
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}
footer .fa {
    font-size: 22px;
}
/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*====================
	Widgets
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
    box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: #000000;}
.widget-title {margin-bottom: 20px; color: #692699}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}
.widget.no-box ul li {
 list-style-type: none
}

.widget.no-box ul {
    line-height: 1.5;
}
.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #000000;}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover { color:#692699; }
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}

/*footer end */

#signup {
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    opacity: 1;
}

#signup a:hover {
    background: #ffffff !important;
    color: #000000 !important;
}

.stay-tuned p {
    color: #692699;
    margin-top: 2rem;
    font-weight: 700;
}

/*About section*/

.about-banner-content {
    padding: 13vw 9vw;
}

.about-banner-content p {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
}

.about-banner-content h1 {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -2.25px;
}

.about-banner-content span {
    font-size: 15px;
}

.about-banner-content button {
    background: #692699 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #6926994D;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    margin-top: 1.5rem;
}

.about-banner-content button:hover {
    background: #111111 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 24px #69269933;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    margin-top: 1.5rem;
}


.about-top-banner {
    background: #EFE8F4;
}

.about-service .title h1{
    -ms-transform: rotate(90deg); /* IE 9 */
    -ms-transform-origin: 20% 40%; /* IE 9 */
    transform: rotate(90deg);
    transform-origin: 20% 40%;
    padding: .1rem;
    color: #692699;
    font-size: 43px;
    font-weight: 700;
}

.about-service {
    padding: 5rem 0;
}

.about-service-item h5 {
    letter-spacing: -1px;
    color: #111111;
    opacity: 1;
    font-weight: 500;
}

.about-service-item p {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
}

.about-fav-artist-content {
    padding: 4rem 0;
}

.about-fav-artist-content p {
    font-size: 20px;
    font-weight: 500;
}

.about-fav-artist-content h1 {
    font-size: 50px;
    font-weight: 700;
}

.about-fav-artist-content span {
    font-size: 15px;
}

.about-fav-artist-content button {
    background: #692699 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #6926994D;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    margin-top: 1.5rem;
}

.about-fav-artist-content button:hover {
    background: #111111 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 24px #69269933;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    margin-top: 1.5rem;
}

.signup-banner .card {
    width: 22rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 24px #11111126;
    border-radius: 8px;
    opacity: 1;
    padding: 2em;
    border: 0;
    position: absolute;
    transform: translate3d(-50%,-50%, 0);
    left: 50%;
    z-index: 9999;
}

.signup-banner button {
    background: #692699 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #6926994D;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
}

.signup-banner .card-body h2 {
    font-size: 26px;
    font-weight: 700;
}

.signup-banner .card-body p {
    font-weight: 600;
    font-size: 18px;
    margin-top: 1rem;
}

.signup-banner .card-body a {
    font-size: 14px;
    color: #111111;
    text-decoration: underline;
}

.signup-form {
    margin-top: 15rem;
}

.signup-form h1 {
    font-weight: 700;
    letter-spacing: -1px;
    color: #111111;
    opacity: 1;
}

.signup-form p {
    letter-spacing: 0px;
    color: #111111;
    opacity: 1;
    font-size: 18px;
    margin-bottom: 5rem;
}

.signup-form-list h1 {
    font-weight: 700;
    width: 20px;
}

.login-banner-content input{
    color: #000;
    background: #E9E9E9;
    border: 0;
    padding: .8rem 1rem;
    }

.signup-form label {
    font-size: 18px;
    font-weight: 500;
}

.signup-form input {
    color: #000;
    background: #E9E9E9;
    padding: .8rem 1rem;
    border: 0;
}

.signup-form input:focus{
    color: #000 !important;
    background: #E9E9E9;
    opacity: .8;
}

.signup-form button {
    text-align: center;
    background: #692699 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #6926994D;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    margin-top: 1.5rem;
    border: 0;
}

.signup-form button:hover {
    background: #111111 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 24px #69269933;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    margin-top: 1.5rem;

}

.game-container {
    padding: 4rem 1rem 0 1rem;
}

.game-container .card {
    background-image: url("/cloudy_design/image/card-bg.jpg");
    background: #692699 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 8px;
    opacity: 1;
    border: 0;
    margin-bottom: 1rem;
}
.game-container {
   color: #ffffff;
}


.game-container .game-id {
    font-weight: 500;
}

.game-container .game-title {
    font-weight: 600;
    font-size: 26px;
}

.game-container .game-des {
    font-size: 15px;
}

.game-container button {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    opacity: 1;
    background: transparent;
    color: #ffffff;
}
.game-container button:hover {
    background: #ffffff !important;
    color: #000000 !important;
}

.game-list-main-title {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #111111;
}

.bet-mind-card {
    background: #E9E9E9 !important;
    color: #111111;
    padding: 1rem;
}

.bet-mind-card h1 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -1px;
}

.bet-mind-card button{
    text-align: center;
    background: #692699 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #6926994D;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    margin-top: 1.5rem;
    border: 0;
}

.top-banner-right-mobile {
    display: none;
}

.login-top-banner-right-mobile {
    display: none;
}

.banner-content .login-mobile {
    display: none;
}

.album-cover-image {
    width: 100%;
    height: 100%;
}

.footer-input {
    color: #000;
    background: #bfbfbf;
    border-radius: 8px !important;
    padding: .6rem 5rem .6rem .6rem;
}

.footer-input:focus {
    color: #000 !important;
    background: #bfbfbf;
    opacity: .8;
}

.submit-btn-footer {
    background: #692699;
    border: 0;
    position: absolute;
    right: 4px;
    border-radius: .3rem;
    top: 12%;
    font-size: 15px;
    z-index: 99999;
}

.bet-button-group-mobile {
    display: none;
}

.footer-input-label {
    font-size: 16px;
}

/*Game card*/

.masonry {
    /* Masonry container */
    -webkit-column-count: 2;
    -moz-column-count:2;
    column-count: 2;
    margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}
.item {
    display: inline-block;
    width: 100%;
    -webkit-transition:1s ease all;
}
.item img{max-width:100%;}

@media only screen and (max-width: 480px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 500px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

/*game card end*/

/* web screen custom css end */



/* small screen custom css start*/

@media screen and (max-width: 480px) {
    /*    Home page mobile start   */
    .banner-line-vertical, .background-banner-image, .background-mobile-image {
        display: none;
    }
    .banner-line-vertical {
        display: none;
    }
    .background-banner-image-mobile {
        position: relative;
        right: 0;
        left: 0;
        height: 360px;
        width: 100%;
        opacity: 1;
    }

    .background-mobile-image-mobile {
        width: 84vw;
        position: absolute;
        left: 50%;
        top: 0;
        text-align: center;
        transform: translate3d(-44%, 38%, 0);
    }

    .top-banner-right-mobile {
        display: block;
        margin-bottom: 96vw;
    }

    .banner-content h1 {
        font-size: 13vw;
        font-weight: 800;
    }

    .banner-content span {
        font-size: 18px;
    }

    .banner-content button {
        display: block;
        width: 100%;
        text-align: center;
        padding: .8rem;
        font-size: 18px;
        border: 0;
    }

    .banner-content .login-mobile {
        box-shadow: 0px 0px 0px #ffffff;
        border-radius: 4px;
        opacity: 1;
        color: #000000;
        display: block;
        font-size: 18px;
        margin-top: 0;
        background: transparent;
    }

    .album-over-order-sm-1 {
        order: 1;
    }
    .album-over-order-sm-2 {
        order: 2;
    }

    .album-cover {
        padding: 3.5rem 2rem;
        background: transparent;
    }

    .album-cover h3 {
        font-size: 38px;
    }

    .album-cover-content {
        padding: 0 0.7rem 0 1rem;
    }

    .bet-button-group-mobile .bet-now {
        background: #692699 0% 0% no-repeat padding-box;
        box-shadow: 0px 8px 24px #6926994D;
        border-radius: 4px;
        opacity: 1;
        color: #ffffff;
        border: 2px solid #692699;
        margin-top: 1.5rem;
        width: 100%;
        padding: .8rem;
        font-size: 18px;
    }

    .bet-button-group-mobile .bet-now:hover {
        background: #111111 0% 0% no-repeat padding-box;
        box-shadow: 0px 16px 24px #69269933;
        border-radius: 4px;
        opacity: 1;
        color: #ffffff;
    }

    .bet-button-group-mobile .read-more {
        border: 2px solid #111111;
        border-radius: 4px;
        opacity: 1;
        color: #000000;
        margin-top: 1.5rem;
        width: 100%;
        padding: .8rem;
        font-size: 18px;
    }

    .bet-button-group-mobile .read-more:hover {
        background: #111111 0% 0% no-repeat padding-box;
        box-shadow: 0px 16px 24px #69269933;
        border-radius: 4px;
        opacity: 1;
        color: #ffffff;
    }

    .bet-button-group {
        display: none;
    }

    .bet-button-group-mobile {
        padding: 0 2rem;
        display: block;
    }

    .album-cover-image {
        width: 100%;
        height: auto;
    }

    .places-featured {
        padding: 4rem 0;
    }

    .places-featured h5 {
        font-size: 25px;
    }

    .places-featured-images img {
        width: 250px;
        margin: .5rem 0 4rem 0;
    }

    .fav-artist .web-image {
        display: none;
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 4rem;
        margin-bottom: 5rem;
    }

    .fav-artist .mobile-image {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 4rem;
        margin-bottom: 5rem;
        display: block;
    }

    .fav-artist-content {
        padding: 2rem 0;
    }

    .fav-artist-content h1 {
        font-size: 13vw;
        font-weight: 800;
    }

    .fav-artist-content .content-text {
        padding: 0;
    }

    .fav-artist-content span {
        font-size: 18px;
    }

    .fav-artist-content button {
        width: 100%;
        padding: .8rem;
    }

    .section-services .single-service {
        margin: 1rem 1.5rem;
        min-height: auto;
    }

    .section-services .single-service img{
        width: 50px;
    }

    .section-services .single-service .part-1 .title {
        font-size: 25px;
        margin-bottom: 1.5rem;
    }

    .section-services .single-service .part-1 .description {
        font-size: 18px;
    }

    .part-1 a {
        font-size: 17px;
        font-weight: bold;
    }

    .stay-tuned p {
        color: #111;
        font-size: 18px;
        margin-bottom: 5rem;
    }

    footer .main-footer h5 {
        font-weight: 700;
        color: #692699;
        font-size: 26px;
    }

    .submit-btn-footer {
        background: #fff;
        border: 0;
        position: absolute;
        right: 4px;
        border-radius: .3rem !important;
        top: 10%;
        font-size: 16px;
        color: #111 !important;
        font-weight: bold;
    }

    .widget li a {
        color: #111;
        font-weight: bold;
        font-size: 18px;
    }

    .widget.no-box ul {
        line-height: 2.5;
        padding-left: 0 !important;
    }

    .widget-footer {
        display: flex;
    }

    .footer-copyright-content {
        font-size: 18px !important;
        padding: .5rem 0 0 6rem;
    }

    footer .fa {
        font-size: 32px;
    }

    ul.social-footer2 li a {
        width: 45px;
    }

    .logo-mobile {
        display: block;
    }

    .logo-web {
        display: none;
    }

    .navbar {
        font-size: 39px;
        z-index: 9999;
        text-align: center;
        font-weight: 700;
    }

    .bg-light {
        background-color: #fff !important;
    }

    .navbar #nav-signup a{
        display: block;
        width: 100%;
        text-align: center;
        padding: .8rem !important;
        font-size: 18px;
        background: #692699;
        border: 0;
    }
/*    Home page mobile end   */

    /* Login page mobile start*/

    .login-content-mobile {
        padding: 0 !important;
    }

    .login-banner-content h1 {
        font-size: 45px;
    }

    .login-top-banner-right-mobile {
        display: block;
        margin-bottom: 0vw;
    }

    /*Signup page mobile start*/

    .signup-form h1 {
        font-size: 38px;
        text-align: center;
    }

    .signup-form p {
        text-align: center;
        margin-bottom: 5rem;
    }

    /*about page mobile start*/

    .about-banner-content {
        padding: 7rem 1rem;
    }

    .about-banner-content h1 {
        font-size: 52px;
    }

    .about-banner-content button {
        display: block;
        width: 100%;
        padding: .8rem;
    }

    .about-service .title h1 {
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 20% 40%;
        transform: rotate(0deg);
        transform-origin: 20% 40%;
        color: #692699;
        font-size: 38px;
        font-weight: 800;
        letter-spacing: -1px;
    }

    .about-service {
        padding: 3rem 0;
    }

    .about-service-item h5 {
        font-weight: 700;
        margin-bottom: 2rem;
        margin-top: 1rem;
        font-size: 22px;
    }

    .about-fav-artist-content p {
        font-weight: bold;
    }

    .about-fav-artist-content h1 {
        font-size: 50px;
        letter-spacing: -1.25px;
    }

    .about-fav-artist-content button {
        width: 100%;
        padding: .8rem;
        border: 0;
    }

    .get-ready-started-content p {
        font-weight: bold;
    }

    .get-ready-started-content h1 {
        font-size: 50px;
        letter-spacing: -1.25px;
    }

    .get-ready-started-content button {
        width: 100%;
        padding: .8rem;
        border: 0;
    }

    .album-cover h3 {
        font-size: 35px;
    }

    .game-container {
        padding: 0;
    }

    .game-container .game-id {
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0px;
    }

    .game-container .game-des {
        font-size: 17px;
        letter-spacing: 0px;
    }

    .game-container .game-title {
        font-weight: 600;
        font-size: 26px;
    }

    .game-container .game-list-main-title {
        font-weight: 700;
        font-size: 40px;
    }

    .game-container button {
        border: 2px solid #FFF;
        width: 100%;
        font-size: 18px;
    }

    .game-section {
        margin-top: 5rem;
    }

    .mobile-nav-item-home {
        display: block;
    }

    #nav-login {
        display: none;
    }

    #mobile-nav-login {
        display: block;
        font-size: 18px;
        font-weight: 500;
        border-top: 1px solid #111;
        margin-top: 4rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    /*    Home page mobile start   */
    .banner-line-vertical, .background-banner-image, .background-mobile-image {
        display: none;
    }
    .background-banner-image-mobile {
        position: relative;
        right: 0;
        left: 0;
        height: auto;
        width: 100%;
        opacity: 1;
    }

    .background-mobile-image-mobile {
        width: 60vw;
        position: absolute;
        left: 50%;
        top: 0;
        text-align: center;
        transform: translate3d(-44%, 43%, 0);
    }

    .top-banner-right-mobile {
        display: block;
        margin-bottom: 62vw;
    }

    .banner-content h1 {
        font-size: 50px;
        font-weight: 800;
    }

    .banner-content span {
        font-size: 18px;
    }

    .banner-content button {
        display: block;
        width: 100%;
        text-align: center;
        padding: .8rem;
        font-size: 18px;
        border: 0;
    }

    .banner-content .login-mobile {
        box-shadow: 0px 0px 0px #ffffff;
        border-radius: 4px;
        opacity: 1;
        color: #000000;
        display: block;
        font-size: 18px;
        margin-top: 0;
        background: transparent;
    }

    .album-over-order-sm-1 {
        order: 1;
    }
    .album-over-order-sm-2 {
        order: 2;
    }

    .album-cover {
        padding: 3.5rem 2rem;
        background: transparent;
    }

    .album-cover h3 {
        font-size: 38px;
    }

    .album-cover-content {
        padding: 0 0.7rem 0 1rem;
    }

    .bet-button-group-mobile .bet-now {
        background: #692699 0% 0% no-repeat padding-box;
        box-shadow: 0px 8px 24px #6926994D;
        border-radius: 4px;
        opacity: 1;
        color: #ffffff;
        border: 2px solid #692699;
        margin-top: 1.5rem;
        width: 100%;
        padding: .8rem;
        font-size: 18px;
    }

    .bet-button-group-mobile .bet-now:hover {
        background: #111111 0% 0% no-repeat padding-box;
        box-shadow: 0px 16px 24px #69269933;
        border-radius: 4px;
        opacity: 1;
        color: #ffffff;
    }

    .bet-button-group-mobile .read-more {
        border: 2px solid #111111;
        border-radius: 4px;
        opacity: 1;
        color: #000000;
        margin-top: 1.5rem;
        width: 100%;
        padding: .8rem;
        font-size: 18px;
    }

    .bet-button-group-mobile .read-more:hover {
        background: #111111 0% 0% no-repeat padding-box;
        box-shadow: 0px 16px 24px #69269933;
        border-radius: 4px;
        opacity: 1;
        color: #ffffff;
    }

    .bet-button-group {
        display: none;
    }

    .bet-button-group-mobile {
        padding: 0 2rem;
        display: block;
    }

    .album-cover-image {
        width: 100%;
        height: auto;
    }

    .places-featured {
        padding: 4rem 0;
    }

    .places-featured h5 {
        font-size: 25px;
    }

    .places-featured-images img {
        width: 150px;
        margin: .5rem 3rem 4rem 0;
    }

    .fav-artist .web-image {
        display: none;
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 4rem;
        margin-bottom: 5rem;
    }

    .fav-artist .mobile-image {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 4rem;
        margin-bottom: 5rem;
    }

    .fav-artist-content {
        padding: 2rem 0;
    }

    .fav-artist-content h1 {
        font-size: 50px;
        font-weight: 800;
    }

    .fav-artist-content .content-text {
        padding: 0rem;
    }

    .fav-artist-content span {
        font-size: 18px;
    }

    .fav-artist-content button {
        width: 100%;
        padding: .8rem;
    }

    .section-services .single-service {
        margin: 1rem 1.5rem;
        min-height: auto;
    }

    .section-services .single-service img{
        width: 50px;
    }

    .section-services .single-service .part-1 .title {
        font-size: 25px;
        margin-bottom: 1.5rem;
    }

    .section-services .single-service .part-1 .description {
        font-size: 18px;
    }

    .part-1 a {
        font-size: 17px;
        font-weight: bold;
    }

    .stay-tuned p {
        color: #111;
        font-size: 18px;
        margin-bottom: 5rem;
    }

    footer .main-footer h5 {
        font-weight: 700;
        color: #692699;
        font-size: 26px;
    }

    .submit-btn-footer {
        background: #fff;
        border: 0;
        position: absolute;
        right: 4px;
        border-radius: .3rem !important;
        top: 10%;
        font-size: 16px;
        color: #111 !important;
        font-weight: bold;
    }

    .widget li a {
        color: #111;
        font-weight: bold;
        font-size: 18px;
    }

    .widget.no-box ul {
        line-height: 2.5;
        padding-left: 0 !important;
    }

    .widget-footer {
        display: flex;
    }

    .footer-copyright-content {
        font-size: 21px !important;
        padding: 0 0 0 11rem;
    }

    footer .fa {
        font-size: 32px;
    }

    ul.social-footer2 li a {
        width: 45px;
    }

    .logo-mobile {
        display: block;
    }

    .logo-web {
        display: none;
    }

    .navbar {
        font-size: 39px;
        z-index: 9999;
        text-align: center;
        font-weight: 700;
    }

    .bg-light {
        background-color: #fff !important;
    }

    .navbar #nav-signup a{
        display: block;
        width: 100%;
        text-align: center;
        padding: .8rem !important;
        font-size: 18px;
        background: #692699;
        border: 0;
    }
    /*    Home page mobile end   */

    /* Login page mobile start*/

    .login-content-mobile {
        padding: 0 !important;
    }

    .login-banner-content h1 {
        font-size: 45px;
    }

    .login-top-banner-right-mobile {
        display: block;
        margin-bottom: 0vw;
    }

    /*Signup page mobile start*/

    .signup-form h1 {
        font-size: 38px;
        text-align: center;
    }

    .signup-form p {
        text-align: center;
        margin-bottom: 5rem;
    }

    /*about page mobile start*/

    .about-banner-content {
        padding: 7rem 1rem;
    }

    .about-banner-content h1 {
        font-size: 52px;
    }

    .about-banner-content button {
        display: block;
        width: 100%;
        padding: .8rem;
    }

    .about-service .title h1 {
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 20% 40%;
        transform: rotate(0deg);
        transform-origin: 20% 40%;
        color: #692699;
        font-size: 38px;
        font-weight: 800;
        letter-spacing: -1px;
    }

    .about-service {
        padding: 3rem 0;
    }

    .about-service-item h5 {
        font-weight: 700;
        margin-bottom: 2rem;
        margin-top: 1rem;
        font-size: 22px;
    }

    .about-fav-artist-content p {
        font-weight: bold;
    }

    .about-fav-artist-content h1 {
        font-size: 50px;
        letter-spacing: -1.25px;
    }

    .about-fav-artist-content button {
        width: 100%;
        padding: .8rem;
        border: 0;
    }

    .get-ready-started-content p {
        font-weight: bold;
    }

    .get-ready-started-content h1 {
        font-size: 50px;
        letter-spacing: -1.25px;
    }

    .get-ready-started-content button {
        width: 100%;
        padding: .8rem;
        border: 0;
    }

    .album-cover h3 {
        font-size: 35px;
    }

    .game-container {
        padding: 0;
    }

    .game-container .game-id {
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0px;
    }

    .game-container .game-des {
        font-size: 17px;
        letter-spacing: 0px;
    }

    .game-container .game-title {
        font-weight: 600;
        font-size: 26px;
    }

    .game-container .game-list-main-title {
        font-weight: 700;
        font-size: 40px;
    }

    .game-container button {
        border: 2px solid #FFF;
        width: 100%;
        font-size: 18px;
    }

    .game-section {
        margin-top: 5rem;
    }

    .mobile-nav-item-home {
        display: block;
    }

    #nav-login {
        display: none;
    }

    #mobile-nav-login {
        display: block;
        font-size: 18px;
        font-weight: 500;
        border-top: 1px solid #111;
        margin-top: 4rem;
    }
}
