body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
}
nav {
  text-align: center;
}
button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #fff;

  display: inline-block;
  background-color: #067df7;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 1rem 1rem;
  white-space: nowrap;
  text-align: center;
  vertical-align: bottom;
}
ul {
  display: flex;
  justify-content: space-between;
}
nav > ul {
  padding: 4px 16px;
}
li {
  display: flex;
  padding: 6px 8px;
}
a {
  color: #067df7;
  text-decoration: none;
  font-size: 13px;
}
.hero {
  width: 100%;
  color: #333;
}
.title {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 48px;
}
.title {
  text-align: center;
}
.description {
  margin-left: 10%;
  margin-right: 10%;
}
.row {
  max-width: 880px;
  margin: 80px auto 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  padding: 18px 18px 24px;
  width: 220px;
  text-align: left;
  text-decoration: none;
  color: #434343;
  border: 1px solid #9b9b9b;
}
.card:hover {
  border-color: #067df7;
}
.card h3 {
  margin: 0;
  color: #067df7;
  font-size: 18px;
}
.card p {
  margin: 0;
  padding: 12px 0 0;
  font-size: 13px;
  color: #333;
}
